body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: rgba(158, 31, 34, 1);
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}


.button-container {
    text-align: center;
    margin: 20px 0;
}

.voltar-button, .continuar-button, .estado-button {
    background-color: rgba(158, 31, 34, 1);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.voltar-button:hover, .continuar-button:hover, .estado-button:hover {
    background-color: #ad1f22;
}

.signup-container2 {
    padding: 20px;
}

table.horario-table {
    border-collapse: collapse;
    width: 100%;
}

table.horario-table th.dia-header, table.horario-table td {
    padding: 8px;
    text-align: center;
}

table.horario-table th.dia-header {
    background-color: rgba(158, 31, 34, 1);
    color: white;
}

table.horario-table td {
    background-color: #f2f2f2;
}

table.horario-table th:first-child, table.horario-table td:first-child {
    background-color: white;
}
