body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    overflow: hidden;
}

.background-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1; /* Opacidade baixa para a imagem de fundo */
}

.horarios-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(158, 31, 34, 1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.h1 {
    color: #f2f2f2;
}

.lista-container {
    display: flex;
    justify-content: center;
}

.lista {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 400px;
    overflow-y: auto;
    /* Removendo a rolagem horizontal */
}

.h2 {
    color: #f2f2f2;
}

.horario-list {
    list-style: none;
    padding: 0;
}

.horario-item {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.horario-info {
    font-size: 18px;
    text-align: left;
    margin: 10px;
}

.email-info {
    font-size: 16px;
    text-align: left;
    margin: 10px;
}

/* Estilos de hover (quando o mouse passa por cima) */
.voltar-button:hover {
    background-color: #999;
}

.voltar-button {
    background-color: #ccc;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
