<!DOCTYPE html>
<html lang="pt-br"> <!-- idioma-->
<head> 
    <meta charset="UTF-8"> <!--garante que o conteúdo seja exibido corretamente em diferentes plataformas-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--fornece ao navegador instruções sobre como controlar o dimensionamento da página quando acessada de diferentes tamanhos de dispositivos.-->
    <link rel="stylesheet" href="/static/stylesAdicaodeHorarios.css">
    <title>Adicionar meus Horários</title> <!-- titulo para nortear o link da pagina -->
</head>

<body>
    <div class="signup-container">
        <div class="signup-box">
        <h1>Adicionar meus Horários:</h1> <!-- titulo da página que vai aparecerl -->
        <h2>ONLINE</h2> <!-- subtitulo indicando que é online -->
        <form action="#" method="POST">
            <table border="1">
                <tr> <!-- Defino colunas com os dias -->
                    <th>&nbsp;</th>
                    <th>Segunda</th>
                    <th>Terça</th>
                    <th>Quarta</th>
                    <th>Quinta</th>
                    <th>Sexta</th>
                    <th>Sábado</th>
                    <th>Domingo</th>
                </tr>

                <tr>  <!-- Defino linhas com os horários e checkbox -->
                    <td>06-07</td> 
                    <td><input type="checkbox" name="06-07_segunda"></td>
                    <td><input type="checkbox" name="06-07_terça"></td>
                    <td><input type="checkbox" name="06-07_quarta"></td>
                    <td><input type="checkbox" name="06-07_quinta"></td>
                    <td><input type="checkbox" name="06-07_sexta"></td>
                    <td><input type="checkbox" name="06-07_sabado"></td>
                    <td><input type="checkbox" name="06-07_domingo"></td>
                </tr>
                <tr>
                    <td>07-08</td>
                    <td><input type="checkbox" name="07-08_segunda"></td>
                    <td><input type="checkbox" name="07-08_terça"></td>
                    <td><input type="checkbox" name="07-08_quarta"></td>
                    <td><input type="checkbox" name="07-08_quinta"></td>
                    <td><input type="checkbox" name="07-08_sexta"></td>
                    <td><input type="checkbox" name="07-08_sabado"></td>
                    <td><input type="checkbox" name="07-08_domingo"></td>
                </tr>
                <tr>
                    <td>08-09</td>
                    <td><input type="checkbox" name="08-09_segunda"></td>
                    <td><input type="checkbox" name="08-09_terça"></td>
                    <td><input type="checkbox" name="08-09_quarta"></td>
                    <td><input type="checkbox" name="08-09_quinta"></td>
                    <td><input type="checkbox" name="08-09_sexta"></td>
                    <td><input type="checkbox" name="08-09_sabado"></td>
                    <td><input type="checkbox" name="08-09_domingo"></td>
                </tr>
                <tr>
                    <td>09-10</td>
                    <td><input type="checkbox" name="09-10_segunda"></td>
                    <td><input type="checkbox" name="09-10_terça"></td>
                    <td><input type="checkbox" name="09-10_quarta"></td>
                    <td><input type="checkbox" name="09-10_quinta"></td>
                    <td><input type="checkbox" name="09-10_sexta"></td>
                    <td><input type="checkbox" name="09-10_sabado"></td>
                    <td><input type="checkbox" name="09-10_domingo"></td>
                </tr>
                <tr>
                    <td>10-11</td>
                    <td><input type="checkbox" name="10-11_segunda"></td>
                    <td><input type="checkbox" name="10-11_terça"></td>
                    <td><input type="checkbox" name="10-11_quarta"></td>
                    <td><input type="checkbox" name="10-11_quinta"></td>
                    <td><input type="checkbox" name="10-11_sexta"></td>
                    <td><input type="checkbox" name="10-11_sabado"></td>
                    <td><input type="checkbox" name="10-11_domingo"></td>
                </tr>
                <tr>
                    <td>11-12</td>
                    <td><input type="checkbox" name="11-12_segunda"></td>
                    <td><input type="checkbox" name="11-12_terça"></td>
                    <td><input type="checkbox" name="11-12_quarta"></td>
                    <td><input type="checkbox" name="11-12_quinta"></td>
                    <td><input type="checkbox" name="11-12_sexta"></td>
                    <td><input type="checkbox" name="11-12_sabado"></td>
                    <td><input type="checkbox" name="11-12_domingo"></td>
                </tr>
                <tr>
                    <td>12-13</td>
                    <td><input type="checkbox" name="12-13_segunda"></td>
                    <td><input type="checkbox" name="12-13_terça"></td>
                    <td><input type="checkbox" name="12-13_quarta"></td>
                    <td><input type="checkbox" name="12-13_quinta"></td>
                    <td><input type="checkbox" name="12-13_sexta"></td>
                    <td><input type="checkbox" name="12-13_sabado"></td>
                    <td><input type="checkbox" name="12-13_domingo"></td>
                </tr>
                <tr>
                    <td>13-14</td>
                    <td><input type="checkbox" name="12-13_segunda"></td>
                    <td><input type="checkbox" name="12-13_terça"></td>
                    <td><input type="checkbox" name="12-13_quarta"></td>
                    <td><input type="checkbox" name="12-13_quinta"></td>
                    <td><input type="checkbox" name="12-13_sexta"></td>
                    <td><input type="checkbox" name="12-13_sabado"></td>
                    <td><input type="checkbox" name="12-13_domingo"></td>
                </tr>
                <tr>
                    <td>14-15</td>
                    <td><input type="checkbox" name="14-15_segunda"></td>
                    <td><input type="checkbox" name="14-15_terça"></td>
                    <td><input type="checkbox" name="14-15_quarta"></td>
                    <td><input type="checkbox" name="14-15_quinta"></td>
                    <td><input type="checkbox" name="14-15_sexta"></td>
                    <td><input type="checkbox" name="14-15_sabado"></td>
                    <td><input type="checkbox" name="14-15_domingo"></td>
                </tr>
                <tr>
                    <td>15-16</td>
                    <td><input type="checkbox" name="15-16_segunda"></td>
                    <td><input type="checkbox" name="15-16_terça"></td>
                    <td><input type="checkbox" name="15-16_quarta"></td>
                    <td><input type="checkbox" name="15-16_quinta"></td>
                    <td><input type="checkbox" name="15-16_sexta"></td>
                    <td><input type="checkbox" name="15-16_sabado"></td>
                    <td><input type="checkbox" name="15-16_domingo"></td>
                </tr>
                <tr>
                    <td>16-17</td>
                    <td><input type="checkbox" name="16-17_segunda"></td>
                    <td><input type="checkbox" name="16-17_terça"></td>
                    <td><input type="checkbox" name="16-17_quarta"></td>
                    <td><input type="checkbox" name="16-17_quinta"></td>
                    <td><input type="checkbox" name="16-17_sexta"></td>
                    <td><input type="checkbox" name="16-17_sabado"></td>
                    <td><input type="checkbox" name="16-17_domingo"></td>
                </tr>
                <tr>
                    <td>17-18</td>
                    <td><input type="checkbox" name="17-18_segunda"></td>
                    <td><input type="checkbox" name="17-18_terça"></td>
                    <td><input type="checkbox" name="17-18_quarta"></td>
                    <td><input type="checkbox" name="17-18_quinta"></td>
                    <td><input type="checkbox" name="17-18_sexta"></td>
                    <td><input type="checkbox" name="17-18_sabado"></td>
                    <td><input type="checkbox" name="17-18_domingo"></td>
                </tr>
                <tr>
                    <td>18-19</td>
                    <td><input type="checkbox" name="18-19_segunda"></td>
                    <td><input type="checkbox" name="18-19_terça"></td>
                    <td><input type="checkbox" name="18-19_quarta"></td>
                    <td><input type="checkbox" name="18-19_quinta"></td>
                    <td><input type="checkbox" name="18-19_sexta"></td>
                    <td><input type="checkbox" name="18-19_sabado"></td>
                    <td><input type="checkbox" name="18-19_domingo"></td>
                </tr>
                <tr>
                    <td>19-20</td>
                    <td><input type="checkbox" name="19-20_segunda"></td>
                    <td><input type="checkbox" name="19-20_terça"></td>
                    <td><input type="checkbox" name="19-20_quarta"></td>
                    <td><input type="checkbox" name="19-20_quinta"></td>
                    <td><input type="checkbox" name="19-20_sexta"></td>
                    <td><input type="checkbox" name="19-20_sabado"></td>
                    <td><input type="checkbox" name="19-20_domingo"></td>
                </tr>
                <tr>
                    <td>20-21</td>
                    <td><input type="checkbox" name="20-21_segunda"></td>
                    <td><input type="checkbox" name="20-21_terça"></td>
                    <td><input type="checkbox" name="20-21_quarta"></td>
                    <td><input type="checkbox" name="20-21_quinta"></td>
                    <td><input type="checkbox" name="20-21_sexta"></td>
                    <td><input type="checkbox" name="20-21_sabado"></td>
                    <td><input type="checkbox" name="20-21_domingo"></td>
                </tr>
                <tr>
                    <td>21-22</td>
                    <td><input type="checkbox" name="21-22_segunda"></td>
                    <td><input type="checkbox" name="21-22_terça"></td>
                    <td><input type="checkbox" name="21-22_quarta"></td>
                    <td><input type="checkbox" name="21-22_quinta"></td>
                    <td><input type="checkbox" name="21-22_sexta"></td>
                    <td><input type="checkbox" name="21-22_sabado"></td>
                    <td><input type="checkbox" name="21-22_domingo"></td>
                </tr>
                <tr>
                    <td>22-23</td>
                    <td><input type="checkbox" name="22-23_segunda"></td>
                    <td><input type="checkbox" name="22-23_terça"></td>
                    <td><input type="checkbox" name="22-23_quarta"></td>
                    <td><input type="checkbox" name="22-23_quinta"></td>
                    <td><input type="checkbox" name="22-23_sexta"></td>
                    <td><input type="checkbox" name="22-23_sabado"></td>
                    <td><input type="checkbox" name="22-23_domingo"></td>
                </tr>
                <tr>
                    <td>23-00</td>
                    <td><input type="checkbox" name="23-00_segunda"></td>
                    <td><input type="checkbox" name="23-00_terça"></td>
                    <td><input type="checkbox" name="23-00_quarta"></td>
                    <td><input type="checkbox" name="23-00_quinta"></td>
                    <td><input type="checkbox" name="23-00_sexta"></td>
                    <td><input type="checkbox" name="23-00_sabado"></td>
                    <td><input type="checkbox" name="23-00_domingo"></td>
                </tr>
                <tr>
                    <td>00-01</td>
                    <td><input type="checkbox" name="00-01_segunda"></td>
                    <td><input type="checkbox" name="00-01_terça"></td>
                    <td><input type="checkbox" name="00-01_quarta"></td>
                    <td><input type="checkbox" name="00-01_quinta"></td>
                    <td><input type="checkbox" name="00-01_sexta"></td>
                    <td><input type="checkbox" name="00-01_sabado"></td>
                    <td><input type="checkbox" name="00-01_domingo"></td>
                </tr>
                <tr>
                    <td>01-02</td>
                    <td><input type="checkbox" name="01-02_segunda"></td>
                    <td><input type="checkbox" name="01-02_terça"></td>
                    <td><input type="checkbox" name="01-02_quarta"></td>
                    <td><input type="checkbox" name="01-02_quinta"></td>
                    <td><input type="checkbox" name="01-02_sexta"></td>
                    <td><input type="checkbox" name="01-02_sabado"></td>
                    <td><input type="checkbox" name="01-02_domingo"></td>
                </tr>
                <tr>
                    <td>02-03</td>
                    <td><input type="checkbox" name="02-03_segunda"></td>
                    <td><input type="checkbox" name="02-03_terça"></td>
                    <td><input type="checkbox" name="02-03_quarta"></td>
                    <td><input type="checkbox" name="02-03_quinta"></td>
                    <td><input type="checkbox" name="02-03_sexta"></td>
                    <td><input type="checkbox" name="02-03_sabado"></td>
                    <td><input type="checkbox" name="02-03_domingo"></td>
                </tr>
                <tr>
                    <td>03-04</td>
                    <td><input type="checkbox" name="03-04_segunda"></td>
                    <td><input type="checkbox" name="03-04_terça"></td>
                    <td><input type="checkbox" name="03-04_quarta"></td>
                    <td><input type="checkbox" name="03-04_quinta"></td>
                    <td><input type="checkbox" name="03-04_sexta"></td>
                    <td><input type="checkbox" name="03-04_sabado"></td>
                    <td><input type="checkbox" name="03-04_domingo"></td>
                </tr>
                <tr>
                    <td>04-05</td>
                    <td><input type="checkbox" name="04-05_segunda"></td>
                    <td><input type="checkbox" name="04-05_terça"></td>
                    <td><input type="checkbox" name="04-05_quarta"></td>
                    <td><input type="checkbox" name="04-05_quinta"></td>
                    <td><input type="checkbox" name="04-05_sexta"></td>
                    <td><input type="checkbox" name="04-05_sabado"></td>
                    <td><input type="checkbox" name="04-05_domingo"></td>
                </tr>
                <tr>
                    <td>05-06</td>
                    <td><input type="checkbox" name="05-06_segunda"></td>
                    <td><input type="checkbox" name="05-06_terça"></td>
                    <td><input type="checkbox" name="05-06_quarta"></td>
                    <td><input type="checkbox" name="05-06_quinta"></td>
                    <td><input type="checkbox" name="05-06_sexta"></td>
                    <td><input type="checkbox" name="05-06_sabado"></td>
                    <td><input type="checkbox" name="05-06_domingo"></td>

                </tr>
            </div>
        </div>
        </table>
        <br>
        <input type="submit" value="Continuar">
        <button type="button" onclick="voltar()">Voltar</button>

        <script>
            function voltar() {
                window.history.back();
            }
        </script>
    </form>
    <script src="/static/scriptdeHorario.js"></script>
</body>
</html>