<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Opções</title>
    <link rel="stylesheet" href="/static/stylesDoMenuOpcao.css">
</head>
<body>
    <div class="options-container">
        <h1>Tela de Opções</h1>
        <a class="options-button" href="/editarHorariosOnline" style="text-decoration:none">Editar Horários</a>
        <a class="options-button" href="/criarReuniao" style="text-decoration:none">Criar Reunião</a>
        <a class="options-button" href="/editarTAG" style="text-decoration:none">Editar Tag</a>
        <a class="options-button" href="/visualizar" style="text-decoration:none">Visualizar</a>        
    </div>
</body>
</html>
