<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleDeVizualizacao.css"> <!-- Use o arquivo CSS que você criou anteriormente -->
    <title>Visualização de Horários</title>
</head>
<body>
    <div class="background-container">
        <img class="background-image" src="/static/logoBots.png" alt="Logo Bots">
    </div>
    <div class="horarios-container">
        <h1>Visualização de Horários</h1>
        <!-- Listas de Horários Lado a Lado -->
        <div class="lista-container">
            <div class="lista" id="presencial-list">
                <h2>Horários Presenciais</h2>
                <ul class="horario-list">
                    {% for horario, email in horarios_presenciais%}
                    <li class="horario-item">
                        <div class="horario-info">
                        {% if horario %}
                            <strong>Segunda:</strong> {{ horario[0] | join('h, ') }}<br>
                            <strong>Terça:</strong> {{ horario[1] | join('h, ') }}<br>
                            <strong>Quarta:</strong> {{ horario[2] | join('h, ') }}<br>
                            <strong>Quinta:</strong> {{ horario[3] | join('h, ') }}<br>
                            <strong>Sexta:</strong> {{ horario[4] | join('h, ') }}<br>
                            <strong>Sábado:</strong> {{ horario[5] | join('h, ') }}<br>
                        {% endif %}
                        </div>
                        <div class="email-info">
                            <strong>Email:</strong> {{ email }}<br>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="lista" id="online-list">
                <h2>Horários Online</h2>
                <ul class="horario-list">
                    {% for horario, email in horarios_online%}
                    <li class="horario-item">
                        <div class="horario-info">
                            {% if horario %}
                                <strong>Segunda:</strong> {{ horario[0] | join('h, ') }}<br>
                                <strong>Terça:</strong> {{ horario[1] | join('h, ') }}<br>
                                <strong>Quarta:</strong> {{ horario[2] | join('h, ') }}<br>
                                <strong>Quinta:</strong> {{ horario[3] | join('h, ') }}<br>
                                <strong>Sexta:</strong> {{ horario[4] | join('h, ') }}<br>
                                <strong>Sábado:</strong> {{ horario[5] | join('h, ') }}<br>
                            {% endif %}
                        </div>
                        <div class="email-info">
                            <strong>Email:</strong> {{ email }}<br>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="button-container">
            <button type="button" onclick="voltar()" class="voltar-button">Voltar</button>
        </div>
    </div>
    <script>
        function voltar() {
            window.history.back();
        }
    </script>
</body>
</html>
